.search-input {
    width: 250px; /* Ajustez cette valeur selon vos besoins */
    max-width: 100%; /* Empêche l'input de dépasser la largeur du conteneur parent */
  }
  .table-with-margin {
    margin-right: 50px;
  }
  .table-cell-border:last-child {
    border-right: none; /* Supprime la bordure pour la dernière cellule */
  }
  h2{
    color:#4CAF50; /* Couleur bleue pharmacie */
font-weight: bold;
font-size: 30px;
  }  
  .commande-header {
    background-color: #4CAF50; /* Light gray color for commande headers */
    color: #e9ecf0; /* Dark color for text */
  }
  
  /* Header styles for details lines table */
  .details-header {
    background-color: #5c6063; /* Slightly darker gray for details headers */
    color: #e0e7ee; /* Darker color for text */
  }
  .animated-row {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }