
<br><br>
<br><br>



<div class="update-patient-container">
  <h2>Mise à jour du patient</h2>

  <!-- Affichage du message de succès ou d'erreur -->
  <div *ngIf="updateSuccess" class="alert alert-success">
    Patient mis à jour avec succès !
  </div>
  <div *ngIf="updateError" class="alert alert-danger">
    Erreur lors de la mise à jour du patient !
  </div>

  <!-- Formulaire de mise à jour du patient -->
  <form (ngSubmit)="updatePatient()" #updatePatientForm="ngForm">
    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="idUnique">ID Unique:</label>
          <input
            type="text"
            id="idUnique"
            [(ngModel)]="patient.ID_UNIQUE"
            name="idUnique"
            class="form-control"
            [readonly]="true"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="num_carte_desoin">Numéro de Carte de Soin:</label>
          <input
            type="text"
            id="num_carte_desoin"
            [(ngModel)]="patient.num_carte_desoin"
            name="num_carte_desoin"
            class="form-control"
            [readonly]="true"
          />
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input
            type="text"
            id="nom"
            [(ngModel)]="patient.NOM"
            name="nom"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="prenom">Prénom:</label>
          <input
            type="text"
            id="prenom"
            [(ngModel)]="patient.PRENOM"
            name="prenom"
            class="form-control"
            required
          />
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="ADRESSE">Adresse:</label>
          <input
            type="text"
            id="ADRESSE"
            [(ngModel)]="patient.ADRESSE"
            name="ADRESSE"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="DATE_NAISSANCE">Date de Naissance:</label>
          <input
            type="date"
            id="DATE_NAISSANCE"
            [(ngModel)]="patient.DATE_NAISSANCE"
            name="DATE_NAISSANCE"
            class="form-control"
            required
          />
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="EMAIL">Email:</label>
          <input
            type="email"
            id="EMAIL"
            [(ngModel)]="patient.EMAIL"
            name="EMAIL"
            class="form-control"
            required
          />
        </div>
      </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="TELEPHONE">Téléphone:</label>
            <input
              type="tel"
              id="TELEPHONE"
              [(ngModel)]="patient.TELEPHONE"
              name="TELEPHONE"
              class="form-control"
              required
            />
          </div>
        </div>
      </div>


    <div class="row mb-3">
      <div class="form-group">
        <label>Sexe:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="SEXE_M"
            [(ngModel)]="patient.SEXE"
            name="SEXE"
            value="M"
            required
          />
          <label class="form-check-label" for="SEXE_M">Homme</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="SEXE_F"
            [(ngModel)]="patient.SEXE"
            name="SEXE"
            value="F"
            required
          />
          <label class="form-check-label" for="SEXE_F">Femme</label>
        </div>
      </div>
    
      <div class="col-sm-6"></div> <!-- Espace vide pour aligner avec le reste des lignes -->
      <button type="submit" class="btn btn-primary float-end">Enregistrer les modifications</button>

    </div>

  </form>
</div>


  