/* Style pour le titre du formulaire */


/* Style pour le conteneur du formulaire */
.form-container {
  width: 100%;
  margin: auto;
  background-color: #f4f4f9; /* Couleur de fond douce */
  padding: 20px;
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: box-shadow 0.3s ease-in-out; /* Transition pour l'ombre */
}

/* Style pour les lignes du formulaire */
.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  background-color: #e9ecef; /* Couleur de fond légère */
  border: 1px solid #ced4da; /* Bordure légère */
  border-radius: 5px; /* Coins arrondis */
  margin-bottom: 15px;
  transition: background-color 0.3s ease; /* Transition pour la couleur de fond */
}

/* Style pour les groupes de formulaire */
.form-group {
  margin-bottom: 15px;
}

/* Style pour les labels du formulaire */
.form-label {
  color: #333333;
  font-weight: bold;
}

/* Style pour les contrôles du formulaire */


/* Style pour les actions du formulaire */
.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

/* Style pour les messages d'erreur */
.text-danger {
  color: #dc3545 !important; /* Couleur rouge pour les erreurs */
}

/* Style pour les tables */
.table {
  background-color: #fff; /* Couleur de fond blanche */
  border-radius: 5px; /* Coins arrondis */
  overflow: hidden; /* Cache les débordements */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: box-shadow 0.3s ease-in-out; 
  /* Transition pour l'ombre */
}

/* Style pour les en-têtes de table */
.table th {
  background-color: #afa74c; /* Couleur bleue pharmacie */
  color: #fff; /* Texte blanc */
  font-weight: bold;
}

/* Style pour les cellules de table */
.table td {
  background-color: #f8f9fa; /* Couleur de fond très légère */
}

/* Style pour les boutons dans la table */
.table .btn-danger {
  background-color: #dc3545; /* Couleur rouge */
  border-color: #dc3545;
}
.table-cell-border {
  border-right: 1px solid #dee2e6; /* Couleur de la bordure, ajustez si nécessaire */
}

.table-cell-border:last-child {
  border-right: none; /* Supprime la bordure pour la dernière cellule */
}
.form-title {
  margin-left: 400px;
  text-align: center; /* Centre le texte à l'intérieur du titre */
  color: #afa74c; /* Couleur de fond demandée */
  padding: 10px; /* Espacement autour du texte */
  border-radius: 5px; /* Coins arrondis pour un effet plus doux */
  display: inline-block; /* Pour que la largeur de fond soit juste autour du texte */
}
/* Agrandir le champ QTE_LIV */
.table .form-control.qte-liv {
  width: 80px; /* Ajustez la largeur selon vos besoins */
  max-width: 100%; /* Assure que le champ ne dépasse pas la largeur de la cellule */
}
.table .form-control.QTE_COM {
  width: 80px; /* Ajustez la largeur selon vos besoins */
  max-width: 100%; /* Assure que le champ ne dépasse pas la largeur de la cellule */
}
.table .btn-success {
  background-color: #8b7765; /* Couleur verte */
  border-color: #8b7765;
}

/* Style pour le pied de page de la table */
.table tfoot {
  background-color: #e9ecef; /* Couleur de fond légère */
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

/* Styles pour la traduction */


#translate-button {
  margin-left: 20px;
  margin-bottom: 20px;
}

.translated-label {
  color: #495057;
  font-weight: bold;
  font-style: italic;
}

.large-input {
  height: 40px; /* Ajuste la hauteur */
  font-size: 16px; /* Ajuste la taille du texte */
  padding: 10px; /* Ajuste l'espace intérieur */
}
.custom-border {
  border: 1px solid #afa74c;
  border-radius: 20px;
}

.custom-border:focus {
  border-color: #afa74c;
  box-shadow: 0 0 0 0.2rem rgba(198, 40, 40, 0.25);
}
.chevron:hover {
  background-color: #afa74c; /* Couleur de survol */
}

.chevron.open {
  background-color: transparent; /* Fond transparent lorsque la sidebar est ouverte */
  color: black; /* Texte en noir lorsque la sidebar est ouverte */
  transform: translateY(-50%) translateX(-100%);
}
.chevron {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #afa74c; /* Bleu pharmacie */
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  overflow-y: auto; /* Barre de défilement verticale */
  overflow-x: hidden; 
}
.custom-prefix {
  background-color: #f1f1f1;  /* Couleur de fond douce */
 /* Coins arrondis sur la gauche */
  font-weight: bold;  /* Texte en gras */
  padding: 0.375rem 0.75rem;  /* Ajuste le padding pour aligner avec l'input */
  border-right: none;  /* Supprime la bordure droite pour fusionner avec l'input */
}

.chevron:hover {
  background-color: #afa74c; /* Couleur de survol */
}

.chevron.open {
  background-color: transparent; /* Fond transparent lorsque la sidebar est ouverte */
  color: black; /* Texte en noir lorsque la sidebar est ouverte */
  transform: translateY(-50%) translateX(-100%);
}

.sidebar {
  width: 300px;
  background-color: #f8f9fa; /* Couleur de fond légère */
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  right: 0;  
  height: 100%;
  transform: translateX(100%);
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
}

.sidebar.open {
  transform: translateX(0);
}
.chevron.open {
  transform: translateY(-50%) translateX(-100%);
}



/* Sidebar */
.sidebar {
  width: 300px;
  background-color: #f8f9fa; /* Couleur de fond légère */
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  right: 0;  height: 100%;
  transform: translateX(100%);

  padding: 10px;
  transition: transform 0.3s ease;
  transform: translateX(100%); 
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

