
.form-control {
    border-radius: 8px; /* Rounded corners for input fields */
  }

  .btn-primary {
    background-color: rgb(125, 168, 227);
    border: none;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }

  .form-control:focus {
    border-color: rgb(125, 168, 227);
    box-shadow: 0 0 5px rgb(125, 168, 227);
  }

  label {
    font-weight: 500;
  }

  .text-center {
    font-size: 30px;
    color: rgb(125, 168, 227);
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.6s ease forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  hr {
    border-top: 2px solid  rgb(125, 168, 227);
  }